.bg-custom{
    background-color: white;
}
.slider-container{
    border: 1px solid red;
    border-radius: 8px;
    overflow: hidden;
}
.navbar-container{
    border: 1px solid red;
    border-radius: 0px;
    margin: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.star{
    font-size: 12px; 
    color:black ;
    transition: color 0.3s; 
    border: none;
}
.star:hover{
    color: gold;
      cursor: pointer;
}
.navbar navbar-expand-sm navbar-white{
    background-color:#f3eff5 ; 
   
   
}
.btn{
    background-color:#2374ab;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover{
    color: white;
    background-color: #5798d4;
}